# Environment variables
.env

# Dependencies
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
# User uploaded media
uploads/

# Python virtual environments
moderation/.venv/

# Python cache files
__pycache__/
*.pyc
